@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.text--center {
    text-align: center;
    margin: auto;
}

.container {
    padding: 50px;
}


/* =====navbar===== */

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 45px;
}

.navbar__links {
    display: flex;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    margin-right: 110px;
}

.navbar__logo-title {
    font-weight: normal;
    font-size: 36px;
    line-height: 21px;
    color: rgba(26, 26, 26, 0.71);
    margin-right: 15px;
}

.navbar__link {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #2A2A2A;
    padding: 5px 10px;
    margin-right: 20px;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.navbar__links .navbar__link:hover {
    color: #fff;
    background: #111;
    /* border-bottom: 2px solid #111; */
    box-shadow: 3px 4px 15px #ccc;
    border-radius: 10px;
}

.navbar__btn-row {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.navbar__btn-row .navbar__btn {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #2A2A2A;
    margin-right: 10px;
    padding: 5px 10px;
    border-right: 1px solid #2A2A2A;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.navbar__btn-row .navbar__btn:hover {
    color: #fff;
    background: #111;
    /*border-bottom: 2px solid #111;
    */
    box-shadow: 3px 4px 15px #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.header__bar {
    display: none;
}

i.fas.fa-bars.bar {
    color: #111;
}


/* =====shop===== */

.shop {
    background-image: url(images/shop.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 600px;
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
}

.shop__content {
    /* padding: 0 0 30px 140px; */
    margin-left: 12%;
    margin-bottom: 30px;
    color: #fff;
}

.shop__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.shop__content .shop__link {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.shop__content .shop__link:hover {
    color: rgb(28, 202, 255);
    border-bottom: 2px solid rgb(28, 202, 255);
}


/* =====products===== */

.products__links {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products__link:first-child {
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #1A1A1A;
    border-bottom: 2px solid #111;
}

.products__link {
    font-size: 17px;
    line-height: 27px;
    color: #B3B3B3;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.products__link:hover {
    color: #1A1A1A;
    border-bottom: 2px solid #111;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.products__row {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.products__card {
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.products__card-img {
    opacity: .5;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.products__card:hover .products__card-img {
    opacity: 2;
    box-shadow: 3px 4px 15px #ccc;
}

.products__card-title {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    width: 272px;
    margin: 10px 0 5px 0;
    color: #1A1A1A;
}

.card__title-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #A8A8A8;
}

.products__card-price {
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #808080;
}

.card__price-number {
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FF3451;
}

.products__btn {
    font-weight: normal;
    font-size: 18px;
    padding: 15px 60px;
    margin-top: 80px;
    background: #000;
    color: #fff;
    box-shadow: 3px 4px 15px #ccc;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.products__btn:hover {
    background: rgb(43, 199, 247);
}


/* =====analog===== */

.analog {
    width: 100%;
    height: 600px;
    background-image: url(images/analog.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 70px;
    margin-top: 140px;
}

.analog__number {
    display: flex;
    justify-content: end;
    width: 100%;
}

.analog__number p {
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background: rgba(126, 110, 69, 1);
    color: #EAE7D9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.analog__content {
    width: 30%;
    margin-top: 95px;
}

.analog__title {
    font-weight: normal;
    font-size: 35px;
    line-height: 54px;
    color: #F7F7F7;
}

.analog__btn {
    font-weight: normal;
    font-size: 15px;
    line-height: 40px;
    color: #F7F7F7;
    background: rgba(126, 110, 69, 1);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 30px;
    border: none;
    display: block;
    box-shadow: 3px 4px 15px #414135;
    border-radius: 3px;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.analog__btn:hover {
    background: rgb(43, 199, 247);
}

.analog__link {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #F7F7F7;
    border-bottom: 1px solid #f7f7f7;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.analog__link:hover {
    color: rgb(43, 199, 247);
    border-bottom: 1px solid rgb(43, 199, 247);
}


/* =====refillable===== */

.refillable {
    padding: 120px 135px;
    background: rgba(49, 47, 46, 1);
}

.refillable__card {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
}

.refillable__content {
    width: 30%;
    padding: 0 65px;
}

.refillable__title {
    font-weight: normal;
    font-size: 38px;
    line-height: 46px;
    color: #1A1A1A;
}

.refillable__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #1A1A1A;
    margin: 20px 0 25px 0;
}

.refillable__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1A1A1A;
    border-bottom: 2px solid #1a1a1a;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.refillable__link:hover {
    color: rgb(43, 199, 247);
    border-bottom: 2px solid rgb(43, 199, 247);
}

.refillable__img-card {
    width: 70%;
}

.refillable__img {
    width: 100%;
    object-fit: contain;
}


/* =====for===== */

.for {
    margin-top: 100px;
}

.for__content {
    width: 35%;
    margin-bottom: 70px;
}

.for__card-row {
    display: flex;
    justify-content: space-evenly;
}

.for__card {
    width: 35%;
}

img.for__img {
    width: 100%;
    object-fit: contain;
    opacity: .5;
}

img.for__img:hover {
    opacity: 1;
}

.for__card-link {
    border-bottom: 2px solid #1a1a1a;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;
    display: inline-block;
    margin-top: 10px;
}

.for__card-link:hover {
    color: rgb(43, 199, 247);
    border-bottom: 2px solid rgb(43, 199, 247);
}

.for__card-main {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.for__card-img {
    object-fit: none;
}

.card__main-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;
    display: inline-block;
    margin-top: 10px;
}


/* =====story===== */

.story {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/story.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.story__content {
    color: #fff;
    text-align: center;
    width: 55%;
}

.story__title {
    font-weight: normal;
    font-size: 33px;
    line-height: 54px;
}

.story__link {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.story__link:hover {
    color: rgb(43, 199, 247);
    border-bottom: 2px solid rgb(43, 199, 247);
}


/* =====form===== */

.form {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(96 106 85 / 81%);
}

.content {
    width: 25%;
    text-align: center;
}

.form__title {
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
}

.form__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 20px 0 55px 0;
}

.form__input-card {
    display: flex;
}

.form__input {
    width: 80%;
    padding: 0 15px;
    height: 40px;
    border: none;
    color: #ff0000;
    font-size: 17px;
    border-radius: 10px 0 0 10px;
}

.form__btn {
    width: 20%;
    height: 40px;
    color: #fff;
    background: #333;
    font-size: 16px;
    border: none;
    border-radius: 0 10px 10px 0;
}


/* =====footer===== */

footer {
    padding: 75px 120px;
    background: rgba(206, 211, 202, 1);
}

.footer__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__links-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__link {
    margin-bottom: 14px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #1A1A1A;
}

.footer__link:hover {
    /* border-bottom: 1px solid #1a1a1a; */
    color: #700606;
}

.footer__text {
    display: flex;
    width: 75%;
}

.footer__text-card {
    width: 100%;
}

.footer__2021 {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #1A1A1A;
}

.footer__all {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: right;
    color: #1A1A1A;
}

.footer__img {
    margin-left: 20px;
    width: 25%;
}

.footer__img img {
    width: 100%;
}

.footer__icons {
    margin-right: 24%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px rgb(0 0 0 / 5%), 15px 25px 10px rgb(0 0 0 / 5%), 15px 20px 20px rgb(0 0 0 / 5%), inset -10px -10px 15px rgb(255 255 255 / 90%);
}

.footer__icons i {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}

i.fab.fa-instagram {
    color: red;
}

i.fab.fa-twitter {
    color: #20f2f3;
}

i.fab.fa-facebook-square {
    color: #077bc1;
}


/* ==========================================================================media query======================================================================================== */

@media screen and (max-width: 1050px) {
    .navbar {
        padding: 10px 40px;
    }
    .navbar__logo {
        margin-right: 50px;
    }
    .navbar__logo-title {
        font-size: 29px;
        line-height: 17px;
        margin-right: 10px;
    }
    .navbar__logo-img {
        width: 20px;
    }
    .navbar__links .navbar__link {
        font-size: 16px;
        line-height: 20px;
        padding: 5px 8px;
        margin-right: 20px;
    }
    .navbar__btn-row .navbar__btn {
        font-size: 14px;
        line-height: 17px;
        margin-right: 10px;
        padding: 5px 10px;
    }
    /* =====shop===== */
    .shop {
        height: 560px;
        margin-top: 30px;
    }
    /* =====products===== */
    .products__links {
        width: 70%;
    }
}


/* ===================================================== */

@media screen and (max-width: 900px) {
    .navbar {
        padding: 10px 20px;
    }
    .navbar__logo {
        margin-right: 30px;
    }
    .navbar__logo-title {
        font-size: 30px;
        line-height: 21px;
        margin-right: 15px;
    }
    .navbar__logo-img {
        width: 18px;
    }
    .navbar__links .navbar__link {
        font-size: 14px;
        line-height: 17px;
        padding: 5px 6px;
        margin-right: 10px;
    }
    .navbar__btn-row .navbar__btn {
        font-size: 13px;
        line-height: 14px;
        margin-right: 8px;
        padding: 5px 8px;
    }
    /* =====shop===== */
    .shop {
        height: 500px;
        margin-top: 20px;
    }
    .shop__text {
        font-size: 17px;
        line-height: 28px;
    }
    /* =====products===== */
    .container {
        padding: 30px 20px;
    }
    .products__links {
        width: 80%;
    }
    .products__row {
        margin-top: 45px;
        justify-content: space-around;
    }
    .products__btn {
        font-size: 17px;
        padding: 15px 50px;
        margin-top: 60px;
    }
}


/* =========================================================================== */

@media screen and (max-width: 750px) {
    .navbar__link {
        display: none;
    }
    .navbar__btn-row {
        justify-content: center;
    }
    .navbar__btn {
        font-size: 16px;
        line-height: 14px;
        margin-right: 8px;
        padding: 5px 8px;
        border: none;
    }
    .navbar__btn-row .navbar__btn {
        border: none;
    }
    .header__bar {
        display: block;
        font-size: 30px;
        margin-right: 10px;
    }
    /* =====shop===== */
    .shop {
        height: 430px;
        margin-top: 10px;
    }
    .shop__content {
        margin-left: 10%;
        margin-bottom: 35px;
    }
    .shop__content .shop__link {
        font-size: 15px;
        border-bottom: 1px solid #fff;
    }
    /* =====products===== */
    .container {
        padding: 30px 5px;
    }
    .products__links {
        width: 100%;
    }
    .products__row {
        margin-top: 40px;
    }
    .products__card {
        max-width: 300px;
        margin-right: 15px;
    }
    .products__btn {
        font-size: 16px;
        padding: 14px 50px;
        margin-top: 40px;
    }
}


/* =========================================================================== */

@media screen and (max-width: 600px) {
    .navbar__logo-title {
        font-size: 33px;
        line-height: 21px;
        margin-right: 15px;
    }
    .navbar__logo-img {
        width: 22px;
    }
    .navbar__btn-row {
        display: none;
    }
    .header__bar {
        display: flex;
        flex: 1;
        justify-content: end;
        font-size: 30px;
    }
    /* =====shop===== */
    .shop {
        height: 380px;
        margin-top: 10px;
    }
    .shop__content {
        margin-left: 10%;
        margin-bottom: 27px;
        width: 42%;
    }
    .shop__text {
        font-size: 16px;
        line-height: 20px;
    }
    .shop__content .shop__link {
        font-size: 13px;
        border-bottom: 1px solid #fff;
    }
}