@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.text--center {
    text-align: center;
    margin: auto;
}

.container {
    padding: 50px;
}


/* =====navbar===== */

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 45px;
}

.navbar__links {
    display: flex;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    margin-right: 110px;
}

.navbar__logo .navbar__logo-title {
    font-weight: normal;
    font-size: 36px;
    line-height: 21px;
    color: rgba(26, 26, 26, 0.71);
    margin-right: 15px;
}

.navbar__links .navbar__link {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #2A2A2A;
    padding: 5px 10px;
    margin-right: 20px;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.navbar__links .navbar__link:hover {
    color: #fff;
    background: #111;
    /* border-bottom: 2px solid #111; */
    box-shadow: 3px 4px 15px #ccc;
    border-radius: 10px;
}

.navbar__btn-row {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.navbar__btn-row .navbar__btn {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #2A2A2A;
    margin-right: 10px;
    padding: 5px 10px;
    border-right: 1px solid #2A2A2A;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.navbar__btn-row .navbar__btn:hover {
    color: #fff;
    background: #111;
    /*border-bottom: 2px solid #111;
    */
    box-shadow: 3px 4px 15px #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* =====shop===== */

.shop {
    background-image: url(images/shop.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
}

.shop__content {
    /* padding: 0 0 30px 140px; */
    margin-left: 12%;
    margin-bottom: 30px;
    color: #fff;
}

.shop__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.shop__content .shop__link {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.shop__content .shop__link:hover {
    color: rgb(28, 202, 255);
    border-bottom: 2px solid rgb(28, 202, 255);
}


/* =====products===== */

.products__links {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products__link:first-child {
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #1A1A1A;
    border-bottom: 2px solid #111;
}

.products__link {
    font-size: 17px;
    line-height: 27px;
    color: #B3B3B3;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.products__link:hover {
    color: #1A1A1A;
    border-bottom: 2px solid #111;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.products__row {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.products__card {
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.products__card-title {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    margin: 10px 0 5px 0;
    color: #1A1A1A;
}

.card__title-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #A8A8A8;
}

.products__card-price {
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #808080;
}

.card__price-number {
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FF3451;
}

.products__btn {
    font-weight: normal;
    font-size: 18px;
    padding: 15px 60px;
    margin-top: 80px;
    background: #000;
    color: #fff;
    box-shadow: 3px 4px 15px #ccc;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.products__btn:hover {
    background: rgb(43, 199, 247);
}


/* =====analog===== */

.analog {
    width: 100%;
    height: 500px;
    background-image: url(images/analog.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 70px;
}

.analog__number {
    display: flex;
    justify-content: end;
    width: 100%;
}

.analog__number p {
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background: rgba(126, 110, 69, 1);
    color: #EAE7D9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.analog__content {
    width: 30%;
    margin-top: 50px;
}

.analog__title {
    font-weight: normal;
    font-size: 35px;
    line-height: 54px;
    color: #F7F7F7;
}

.analog__btn {
    font-weight: normal;
    font-size: 15px;
    line-height: 40px;
    color: #F7F7F7;
    background: rgba(126, 110, 69, 1);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 30px;
    border: none;
    display: block;
    box-shadow: 3px 4px 15px #414135;
    border-radius: 3px;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.analog__btn:hover {
    background: rgb(43, 199, 247);
}

.analog__link {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #F7F7F7;
    border-bottom: 1px solid #f7f7f7;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.analog__link:hover {
    color: rgb(43, 199, 247);
    border-bottom: 1px solid rgb(43, 199, 247);
}


/* =====footer===== */

footer {
    height: 100vh;
}